<html lang="en">
<head>
    <%- include('section/header.ejs') %>
</head>
<body>

    <%- include('section/body.ejs') %>
    
    <div class="blogsContainer">
        <h1>Blogs</h1>
        <% if(blogs.length > 0) { %>
            <% blogs.map( (blog) => { %>
                <a class="blog" href="./blogs/<%= blog._id %>">
                    <h3><%= blog.title %></h3>
                    <p><%= blog.desc %></p>
                </a>
            <% }) %>    
        <% } %>
    </div>

    <%- include('section/footer.ejs') %>

</body>
</html>